<div class="map"
  (leafletMapReady)="onMapReady($event)"
  leaflet [leafletOptions]="options" 
  [leafletLayersControl]="layersControl"></div>
<div (click)="onRecenterBoundsClick()" style="left : 16px;" class="crudeMapButton"><i class="fas fa-redo fontIcon"></i></div>
<div (click)="onToggleRoutesClick()" style="left : 76px;" class="crudeMapButton"><i class="fas fa-location-arrow fontIcon"></i></div>
<div (click)="onToggleMarkersClick()" style="left : 136px;" class="crudeMapButton"><i class="fas fa-map-marker-alt fontIcon"></i></div>